name: Update Requirements

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  update-requirements:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install pipreqs
      run: |
        python -m pip install --upgrade pip
        pip install pipreqs

    - name: Uninstall setuptools
      run: |
        pip uninstall -y setuptools

    - name: Generate requirements.txt
      run: |
        pipreqs . --force

    - name: Ensure MLB-StatsAPI is in requirements.txt
      run: |
        if ! grep -q "MLB-StatsAPI" requirements.txt; then
          echo "MLB-StatsAPI" >> requirements.txt
        fi

    - name: Check if requirements.txt has changed
      id: check_diff
      run: |
        if git diff --exit-code requirements.txt; then
          echo "::set-output name=changes::false"
        else
          echo "::set-output name=changes::true"
        fi

    - name: Commit and push updated requirements.txt
      if: steps.check_diff.outputs.changes == 'true'
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add requirements.txt
        git commit -m "Update requirements.txt"
        git push https://${{ secrets.PAT }}@github.com/oneping-1/MLB.git HEAD:main
